@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@600;700;800&display=swap');

@import "tailwindcss";


@layer utilities {
  .font-sans {
    font-family: 'Inter', sans-serif;
  }

  .font-display {
    font-family: 'Poppins', sans-serif;
  }
}
